# PayHero Credentials
PAYHERO_CHANNEL_ID=your_channel_id
PAYHERO_ACCOUNT_ID=your_account_id
PAYHERO_API_USERNAME=your_api_username
PAYHERO_API_PASSWORD=your_api_password
PAYHERO_AUTH_TOKEN=Basic your_base64_encoded_token
